* {
  margin: 0;
  padding: 0;
}
body {
  background: #222831;
  color: #eeeeee;
}
.container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.container > div {
  text-align: left;
}
